//font family 
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,500&display=swap');

//body styles
body{
    margin: 1.5em; //margin and padding using em
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
    font-size: 1.3rem; // font size use rem
}

.hero-img {
    position: absolute;
    top:0;
    left:0;
    background: url('/assets/shoe1.jpg');
    background-position: 20% 20%;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index:-1;
    animation: introLoad 4s forwards;
    // overflow:hidden;
}

.logo {
    color:white;
    font-weight: bold;
}

// nav bar
nav {
   position: fixed;
   right:0;
   top:0;
   background: white;
   height:100vh;
   width:50%;
   z-index:999;
   text-transform:uppercase;
   transform: translateX(100%);
   transition: transform .5s ease-in-out;

   ul {
    list-style-type: none;
    padding: 0;
    margin-top: 8em;
   }
   a {
    color:black;
    padding: .75em 2em;
    display: block;    
        &:hover{
            background: rgb(235,235,235);
        }

   }

   .close{
    float:right;
    margin: 2em;
    width:2.5em;
   }

}
header {
    display:flex;
    justify-content: space-between;   
    
    svg {
        width:3em;
        margin-top: -.6em;
        cursor: pointer;
    }
}

// nav bar |

h1 {
    font-size: 3rem;
    margin-top: 2em;
    line-height: 3.3rem;
}

.subhead{
    font-size: 1.4em;
}
section.hero {
    color:white;
    height: 90vh;

    .down-arrow {
        stroke:white;
        position: absolute;
        bottom: 2em;
        width: 1em; 
        animation: moveArrow 1s alternate-reverse infinite ;

        path{
            fill:white
        }

    }
}




.more-info {
    img{
        width:100%;
        object-fit: cover;
        height: 20em;
    }
    .title{
        font-weight: bold;
        font-size:1.25rem;
    }
    .desc {
        line-height: 1.5em;
    }
}

.open-nav{
    transform: translateX(0);
}

// it means min-width
@media only screen and (min-width:680px){
    body{
        margin: 1.5em 5em; //margin and padding using em
        font-family: "Poppins", sans-serif;
    }
}


@media only screen and (min-width:920px){
   .menu{
    display: none;
   }
   nav{
    transform: translateX(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;  
    background: none; 
     
    svg.close {
        display: none;
    }
    ul{
        display: flex;
        margin-top:0em; 

        a{
            color:white;
            padding: .5em 1.5em;
            font-size: .9rem;
            &:hover{
                background: none;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
   }

   .hero-img{
    left:unset;
    right:0;
    width:50%;
    height: 40em;
   }
   .logo{
    color:black;
    span{
        color:red;
    }
   }

   section.hero{
    color:black;
    height: auto;
    width: 40%;
    margin-bottom: 8em;
   
    svg.down-arrow {
        stroke: black;
        position: unset;

        path{
            fill:black
        }
    }


    

}

.feature {
    display:grid;
    grid-template-columns: repeat(2,auto);
    gap:3em;
    margin-bottom: 8em;
    img {
        width:25em;
    }
    .content {
        text-align: right;
        width:25em;
    }
}
.feature.left{
    grid-template-areas: "left right";

    img {
        grid-area: left;
    }
    .content {
        text-align: left;
        width: 25em;
        justify-self: left;
    }
}


@media only screen and (min-width:1200px) {
    .wrapper {
        width :1200px;
        margin: 0 auto;
        justify-self: center;
    }
    .feature{
        gap:0
    }
}

}


@keyframes introLoad {
    from {
        clip-path: polygon(1% 0, 100% 0, 100% 4%, 0 5%);
    }
    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}


@keyframes moveArrow {
    from{
        transform :translateY(-30px)
    }
    to {
        transform :translateY(0px)
    }
}
